{% extends 'event/base.html' %}
{% block title %} Details{% endblock %}
{% block body %}
    <img src = "{{ event.event_logo }}">

    <h1> {{ event.event_title }}</h1>
    <h2> Dishes:</h2>
    {% if error_message %}
    <p><strong> {{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'event:answer' event.id %}" method="post">
     {% csrf_token %}
        {% for question in event.question_set.all %}
            {{ question.question_content }}
            <input type="text" id = "question{{ forloop.counter }}" name="question" value="{{ question.id }}"/>
       <label for="question{{ forloop.counter }}">
               {% if question.is_favorite %}
                   <img src="http://i.imgur.com/b9b13Rd.png" />
               {% endif %}
       </label><br>
        {% endfor %}
        <input type ="submit" value="Favorite">
    </form>
{% endblock %}
