<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Register</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
      .errorlist {
      color: red;
      }
    </style>
  </head>
<body>
     <form action='/event/addmultiplequestion/?p1={{event_info.id}}&p2={{question.id}}' method="post">
     {% csrf_token %}
            Question: <input type="text" name="question" value="{{ question.question_content }}"><br>
            {% for options in question.Choice %}
             <li><a href="/event/add_option/?p1={{ event_info.id }}&p2={{question.id}}&p3= {{}}">{{ options }}</a></li>
             {% endfor %}
            <a href="/event/add_option/?p1={{ event_info.id }}&p2={{question.id}}&p3={{ question.Choice.size }}" class="button">Add Option</a>
        <input type ="submit" value="Submit"><br>
     </form>
</body>
