<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Homepage</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Import Bootstrap -->
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
      <script src="https://code.jquery.com/jquery.js"></script>
      <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
   <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'index' %}">RSVP</a>
    </div>
    {% if user.is_authenticated %}
      <div>
      <ul class="nav navbar-nav navbar-right">
         <li><a href="/users/realuser">{{user.username}}</a></li>
      </ul>
    </div>
    {% else %}
    <div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="{% url 'login' %}?next={{request.path}}">Login</a></li>
            <li class="active"><a href="{% url 'users:register' %}">Register</a></li>
        </ul>
    </div>    
    {% endif %}
   </div>
   </nav>
   <br>
    <br>
   <br>
   {% if flag == 'choice' %}
  <div class="flex-center">
  <div class="container">
  <div class="flex-center">
      <h3>Add Choice Question</h3>
      <form class="form" action="?p1={{event.id}}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{field.label_tag}}
        {{field}}
        <!--<input type='text' name = {field.label_tag}>-->
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Add Choice Question</button>
      </form>
    </div>
      </div>
    </div>
  {% endif %}
  {% if flag == 'text' %}
  <div class="flex-center">
  <div class="container">
  <div class="flex-center">
      <h3>Add Text Question</h3>
      <form class="form" action="?p1={{event.id}}" method="post">
        {% csrf_token %}
        {% for field in form %}
        {{field.label_tag}}
        {{field}}
        <!--<input type='text' name = {field.label_tag}>-->
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-block">Add Text Question</button>
      </form>
    </div>
      </div>
    </div>
  {% endif %}
  <div class="container">
  <div class="text-left">
  <h3>Choice Question</h3>
  {% for question in choiceq %}
  {% if question.multi_choice %}
  <p>{{question.question}}   <a href="/event/editmultichoicequestion/?p1={{event.id}}&p2={{question.id}}&p3=no"><span class="glyphicon glyphicon-pencil"></span></a><a href="/event/addmultichoicequestion/?p1={{event.id}}&p2={{question.id}}"><span class="glyphicon glyphicon-minus"></span></a></p>
  {% else %}
  <p>{{question.question}}   <a href="/event/editsinglechoicequestion/?p1={{event.id}}&p2={{question.id}}&p3=no"><span class="glyphicon glyphicon-pencil"></span></a><a href="/event/addmultichoicequestion/?p1={{event.id}}&p2={{question.id}}"><span class="glyphicon glyphicon-minus"></span></a></p>
  {% endif %}
  <ul >
  {% for choice in question.choices.all %}
  <li>{{choice.description}}</li>
  {% endfor %}
  </ul>
  {% endfor %}
  <h3>Text Question</h3>
  {% for question in nonchoiceq %}
  <p>{{question.question}}   <a href="/event/modifytext/?p1={{event.id}}&p2={{question.id}}"><span class="glyphicon glyphicon-pencil"></span></a><a href="/event/addtextquestion/?p1={{event.id}}&p2={{question.id}}"><span class="glyphicon glyphicon-minus"></span></a></p> 
  {% endfor %}
  </div>
  </div>
 </body>