<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>My Event</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
      .errorlist {
      color: red;
      }
    </style>

    <meta charset="UTF-8">
    <title>{% block title %} Activities{% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'event/style.css' %}" />


  </head>

  <body>
  <p>TITLE:{{event_info.event_title}}</p>
  <p>TIME:{{event_info.time}}</p>
  <p>PLACE:{{event_info.place}}</p>
  <p>INFO:{{event_info.event_info}}</p>
  <a href='/users/{{user.id}}'>{{user.username}}</a>  
  <a href='/event/inviteowner/?p1={{event_info.id}}'>invite user to be owner</a>
  <a href='/event/invitevendor/?p1={{event_info.id}}'>invite user to be vendor</a>
  <a href='/event/inviteguest/?p1={{event_info.id}}'>invite user to be guest</a><br>
  <a href='/event/editquestion/?p1={{event_info.id}}' class="button">Add New Question</a><br>
  <h2> Question </h2>
  {% for textquestion in event_info.question_set.all %}
        {{ textquestion.question_content }}
        <form action='/event/question_delete/?p1={{ event_info.id }}&p2={{  textquestion.id}}' method="post" >
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        </form>
       <form action='/event/question_update/?p1={{ event_info.id }}&p2={{  textquestion.id}}' method="post" style="display:inline;">
        {% csrf_token %}
           <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>
           </button><br>
        </form>
  {% endfor %}
  {% for multiquestion in event_info.questionmultiple_set.all %}
   {{  multiquestion.question_content }}<br>
       <form action='/event/multiplequestion_delete/?p1={{ event_info.id }}&p2={{  multiquestion.id}}' method="post" >
        {% csrf_token %}
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
        </form>
      <form action='/event/multiplequestion_update/?p1={{ event_info.id }}&p2={{ multiquestion.id}}' method="post" style="display:inline;">
        {% csrf_token %}
           <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>
           </button><br>
        </form>
      {% for options in multiquestion.options_set.all %}
          <ul>
          {{ options.option_content }}<br>
          </ul>>
      {% endfor %}
   {% endfor %}
  </body>
