<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>My Event</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
      .errorlist {
      color: red;
      }
    </style>
  </head>

  <body>
  <p>TITLE:{{event_info.event_title}}</p>
  <p>TIME:{{event_info.time}}</p>
  <p>PLACE:{{event_info.place}}</p>
  <p>INFO:{{event_info.event_info}}</p>
  <a href='/users/{{user.id}}'>{{user.username}}</a>  
  <a href='/event/inviteowner/?p1={{event_info.id}}'>invite user to be owner</a>
  <a href='/event/invitevendor/?p1={{event_info.id}}'>invite user to be vendor</a>
  <a href='/event/inviteguest/?p1={{event_info.id}}'>invite user to be guest</a>
  <a href='/event/editquestion/?p1={{event_info.id}}' class="button">Edit Question</a>
  </body>
